*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #f6F4F0;
    font-size: 14px;
    line-height: 1em;
}

strong{
    font-weight: bold;
}

 .subtitle {
     color: #ef593c;
     font-size: 14px;
     margin-top: 10px;
 }

 .video {
    padding-top: 30px;
    padding-bottom: 30px;
 }

  .text-muted{
    font-style: italic;
    text-align: center;
    font-size: smaller;
    margin-top: 5px;
    margin-bottom: 55px;
  }
  .p{
      color: #545152;
  }

  .quote{
      text-align: center;
      font-style: italic;
      font-size: x-large;
      color: #ef593c;
      margin-bottom: 16px;
      margin-top: 16px;
  }

  h2{
    font-size: 40px;
    text-align: center;
    color: #545152;
    margin-bottom: 25px;
    font-family: 'Trocchi', serif;
  }


  h3{
    font-family: 'Trocchi', serif;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #545152;
    margin-bottom: 5px;
  }
  


  h5{
    font-family: 'Trocchi', serif;
    text-align: left;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #545152;
  }

  ul{
    margin: 20px 5px 20px 55px;
  }
  
  li{
    margin: 10px 5px 10px 5px;
  }

 /*-------------- ul media queries --------------*/ 
 @media screen and (max-width: 1300px) {

   ul {
        margin-left: 55px;
      }

}
@media screen and (max-width: 500px) {

   ul {
        margin-left: 55px;
      }

}
@media screen and (max-width: 320px) {

   ul {
        margin-left: 55px;
      }

}

/*-------------- Navigation --------------*/

.nav-gauche {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background: #F6F4F0;
    position: fixed;
    top: 0;
    left: 0px;
    border-right: 0.5px dashed #dfcfbf;
    z-index: 0;
    transition: all 0.2s ease-in-out;
}

.blocs-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocs-menu span {
    font-size: 19px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}
.blocs-menu span a {
    text-decoration: none;
    color: #545152;
}
.blocs-menu span::after {
    content: '';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: #ef593c;
    transition: all 0.2s ease-out;
}
.blocs-menu span:hover::after {
    width: 100%;
}

/* Portrait */

.blocs-menu:nth-child(1) {
    width: 100%;
    height: 25%;
    background: #F6F4F0;
}
.cercle-portrait {
    margin: 20px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    box-shadow: 26px 26px 53px #F6F4F0,
                -26px -26px 53px #F6F4F0;
}
.cercle-portrait img {
    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.logo-cercle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}
.logo-cercle img {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 1300px) {

    .nav-gauche {
        left: -300px!important;
        width: 250px;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;

    } 
    .menu-visible {
        left: 0px!important;
    }
    .blocs-menu:nth-child(1) {
        display: none;
    }
    .blocs-menu:nth-child(7) {
        display: none;
    }
    .btn-rond-menu {
        width: 60px;
        height: 60px;
        /*border: 1px solid #f6f4F0;*/
        border-radius: 50%;
        background: rgb(246,244,240,0.6);
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 100;
    }

    .cont-ligne {
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .ligne-unique {
        width: 100%;
        height: 3px;
        border-radius: 8px;
        background: #545152;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }

    .ligne-unique::before {
        content: '';
        position: absolute;
        bottom: 10px;
        background: #545152;
        width: 100%;
        height: 3px;
        border-radius: 5px;
    }
    .ligne-unique::after {
        content: '';
        position: absolute;
        top: 10px;
        background: #545152;
        width: 100%;
        height: 3px;
        border-radius: 5px;
    }

    .cont-ligne.active .ligne-unique::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms ease, transform 300ms 300ms ease;
    } 
    .cont-ligne.active .ligne-unique {
        background: transparent;
    }
    .cont-ligne.active .ligne-unique::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms ease, transform 300ms 300ms ease;
    } 
}

/* ------------------ Accueil ---------------- */

.accueil {
    background: url(ressources/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
   
}
h1 {
    font-size: 50px;
    font-family: 'Trocchi', serif;
    letter-spacing: .2rem;
    color: #545152;
    margin: 0 60px;
    padding-top: 210px;
    padding-bottom: 50px;
}
.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}
.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #545152;
    justify-content: center;
    align-items: center;
    color: #545152;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
    transition: transform 0.3s ease-out;
}

.btn-acc:hover {
    transform: translateY(-5px);
    background: #ef593c;
    border: 1px solid #ef593c;
    color: #F6F4F0;
}


.btn-acc1 {
    margin: 10px 0 0 60px;
}
.btn-acc2 {
    background: transparent;
    border: 1px solid #545152;
    color: #545152;
    font-weight: 700;
}
.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}
.media {
    width: 60px;
    height: 60px;
    background: #545152;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}


.media:hover {
    transform: translateY(-5px);
    background: #ef593c;
}

/* reseaux contacts */
.medias-contact {
    display: flex;
    margin-left: 300px;
    margin-top: 30px;
    justify-content: center ;
}

.media-contact:hover {
    transform: translateY(-5px);
    background: #ef593c;
}


.media-contact {
    width: 60px;
    height: 60px;
    background: #545152;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.icone-medias {
    width: 30px;
}

.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #545152;
    background: #545152;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}
.logo-btn-rond-acc {
    width: 35px;
}

/* Medias Accueil */

@media screen and (max-width: 1300px) {
    .accueil {
        width: 100%;
        background-position: center;
    }
    .medias-contact {
        margin-left: 0px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .accueil {
        height: 700px;
        min-height: 0;
    }
    h1 {
        font-size: 70px;
        margin: 0 30px 0 30px;
        padding-top: 100px;
    }
    .accueil p {
        margin: 20px 0 20px 30px;
    }
    .btn-acc1 {
        margin: 10px 0 0 30px;
    }
    .medias {
        margin-left: 30px;
    }
    .btn-rond {
        display: none;
    }
    .medias-contact {
        margin-left: 0px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 700px) {
    .accueil {
        height: 600px;
        position: relative;
        
    }
    h1 {
        font-size: 50px;
        margin: 0 30px;
    }
    .accueil p {
        font-size: 20px;
    }
    .btn-rond-menu {
        width: 60px;
        height: 60px;
    }

    .medias-contact {
        margin-left: 0px;
        margin-top: 30px;
    }

}

@media screen and (max-width: 500px) {

    h1 {
        font-size: 35px;
        color: #545152;
    }
    .accueil p {
        font-size: 16px;
        position: relative;
       
    }
    .btn-acc {
        width: 120px;
        font-size: 13px;
        height: 40px;
        margin: 10px 0 0 5px;
    }
    .btn-acc1 {
        margin: 10px 0 0 30px;
    }
    .media {
        width: 40px;
        height: 40px;
    }
    .icone-medias {
        width: 20px;
    }

    .media-contact{
        width: 40px;
        height: 40px;  
        margin-left: 0px;
        margin-top: 30px;
    }

  

}

@media screen and (max-width: 450px) {
    .btn-rond-menu {
        width: 50px;
        height: 50px;
    }
    .cont-ligne{
        width: 20px;
        height: 38px;
    }
    .ligne-unique {
        height: 3px;
    }
    .ligne-unique::before {
        bottom: 8px;
        height: 3px;
    }
    .ligne-unique::after {
        top: 8px;
        height: 3px;
    }
    .accueil {
        height: 500px;
        position: relative;
        
    }
    h1 {
        margin: 0 30px 0 15px;
        padding-top: 120px;
    }
    .accueil p {
        margin: 30px 0 0 15px;
    }
    .btn-acc {
        width: 100px;
        font-size: 12px;
        height: 35px;
        margin: 30px 0 0 15px;
    }
    .medias {
        margin-top: 30px;
        margin-left: 15px;
    }
    .icone-medias {
        width: 20px;
    }

    .media-contact{
        width: 40px;
        height: 40px;  
        margin-left: 0px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 375px) {
    .txt-animation {
        font-size: 16px!important;
        margin: 0 30px 0 15px;
    }

    h1 {
        margin: 0 30px 0 15px;
        padding-top: 120px;
    }
    .accueil p {
        margin: 30px 0 0 15px;
    }
    .btn-acc {
        width: 100px;
        font-size: 12px;
        height: 35px;
        margin: 30px 0 0 15px;
    }
    .medias {
        margin-top: 30px;
        margin-left: 15px;
    }
    .icone-medias {
        width: 20px;
    }



    .media-contact{
        width: 40px;
        height: 40px;  
        margin-left: 0px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 320px) {
    .txt-animation {
        font-size: 16px!important;
    }
    h1 {
        margin: 0 30px 0 15px;
        padding-top: 120px;
    }
    .accueil p {
        margin: 30px 0 0 15px;
    }
    .btn-acc {
        width: 100px;
        font-size: 12px;
        height: 35px;
        margin: 30px 0 0 15px;
    }
    .medias {
        margin-top: 30px;
        margin-left: 15px;
    }
    .icone-medias {
        width: 20px;
    }

    .media-contact{
        width: 40px;
        height: 40px;  
        margin-left: 0px;
        margin-top: 30px;
    }


}

/* ---------- Section Presentation ---------- */

.presentation {
    width: 100%;
    position: relative;
    overflow: hidden;
    /*border-top: 1px dashed #545152;
    border-bottom: 1px dashed #545152;*/
    color: #545152;
    z-index: -1;
   
}
.fond-forme {
    background: #dfcfbf;
    background-image: linear-gradient(to right, #F6F4F0, #dfcfbf);
    width: 2300px;
    height: 1000px;
    position: absolute;
    transform: rotate(-45deg) translateX(100px) translateY(-15px);
    
}

.titre-pres {
    font-size: 40px;
    text-align: center;
    margin: 50px 0 70px 0;
    padding-left: 300px;
}

.container-presentation {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0 130px 0;
    flex-shrink: 0;
    padding-left: 300px;
}
.pres-gauche {
    width: 600px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 20px;
}
.pres-gauche h3 {    
    font-family: 'Trocchi', serif;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
}
.pres-gauche hr {
    width: 60px;
    margin: 0 auto 20px auto;
}
.pres-gauche p {
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 1.5em;

}

.pres-droite {
    width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}
.liste-presentation {
    list-style-type: none;
    padding: 10px 0 50px 110px;
    z-index: 0;
}
.chiffre-style {
    font-family: 'Trocchi', serif;
    font-size: 30px;
    color: #f6F4F0;
}
.txt-liste {
    font-family: 'Trocchi', serif;
    font-size: 25px;
    letter-spacing: 0.1em;
    line-height: 2em;
    color: #F6F4F0;
    display: inline;
}

/* Medias Presentation */

@media screen and (max-width: 1300px) {

    .container-presentation{
        padding-left: 0px;
    }
    .titre-pres {
        padding-left: 0px;
    }

}

@media screen and (max-width: 1100px) {

    .fond-forme {
        width: 100%;
        height: 150%;
        transform: rotate(0) translateY(0) translateX(0);
    }
    .titre-pres {
        margin: 0 0 20px 0;
        padding-top: 50px;
    }
    .container-presentation {
        flex-direction: column;
    }
    .pres-gauche {
        width: 80%;
        flex-shrink: 1;
        margin-bottom: 10px;
        padding: 20px 0;
    }
    .pres-gauche h3 {
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .pres-gauche p {
        font-size: 14px;
    }
    .pres-droite {
        width: 80%;
        flex-shrink: 1;
    }
    .liste-presentation{
        padding: 0 0;
    }
}


@media screen and (max-width: 700px) {

    .container-presentation {
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .titre-pres {
        font-size: 24px;
        margin: 0 10px
    }

    .pres-gauche p{
        font-size: 14px;
    }
    .pres-gauche h3 {
        font-size: 20px;
    }
    .chiffre-style {
        font-size: 30px;
    }
    .txt-liste {
        font-size: 17px;
    }


}

/* ------------------ Section Portfolio --------------------- */

.portfolio {
    width: 100%;
    position: relative;
   
}
.titre-port {
    text-align: center;
    letter-spacing: .2rem;
    padding: 50px 0;
    font-size: 40px;
    padding-left: 300px;
    color: #545152;
}

.cont-portfolio {
    width: 100%;
    height: auto;
    margin: 0 auto 100px auto;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.item {
    margin: 20px;
    width: 420px;
    height: 400px;
    background: #f6F4F0;
    color: #545152;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 20px #a6a8aa;
}
.item:hover {
    transform: translateY(-5px);
}
.cont-img-port {
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.cont-img-port img {
    width: 100%;
    height: auto;
}
.item h3 {
    padding: 10px 20px 0;
    font-size: 22px;
}
.item p {
    padding: 0px 20px 0;
}

.animate__animated.animate__slideInDown {
    --animate-duration: 1s;
  }

  .animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }
 

.btn-projets {
    display: block;
    margin: 10px 20px 0;
    width: 210px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #545152;
    text-decoration: none;
    border: 1px solid #545152;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-projets::after {
    content: '';
    height: 240px;
    width: 100px;
    background: rgba(255,255,255,0.4);
    display: block;
    position: absolute;
    left: -150px;
    top: -50px;
    transform: rotate(-45deg)
}
.btn-projets:hover::after {
    transition: transform 0.3s 0.1s linear;
    transform: translateX(400px);
}
/* Media portfolio */

@media screen and (max-width: 1300px) {

    .cont-portfolio{
        padding-left: 0;
    }
    .titre-port {
        font-size: 30px;
        margin: 50px 0 70px;
        padding-left: 0;
    }

}
@media screen and (max-width: 500px) {

    .titre-port {
        font-size: 30px;
        margin: 10px 0;
        padding: 30px 0;
    }
    .item {
        height: 420px;
    }
    .cont-img-port {
        height: auto;
    }

}
@media screen and (max-width: 340px) {

    .item {
        height: 380px;
    }

}
/*--------- Section Range -------------- */

.section-range {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    /*border-bottom: 1px dashed #545152;*/
    background: #dfcfbf;
    background-image: linear-gradient(to right, #f6F4F0, #dfcfbf);
    color: #545152;
    position: relative;
    z-index: -1;
}
.range-cont {
    position: relative;
    line-height: 2em;
}
.titre-exp {
    font-size: 40px;
    text-align: center;
    letter-spacing: .2rem;
    margin: 80px 0 90px 0;
    padding-left: 300px;
}
.grille-skill {
    display: grid;
    line-height: .2rem;
    grid-template: repeat(3,80px) / repeat(2, 500px);
    grid-gap: 50px;
    padding-left: 300px;
}
.barre-skill {
    height: 15px;
    background: #ef593c;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.barre-grises {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
.b1 {
    width: 80%;
}
.b2 {
    width: 90%;
    background: #ef593c;
}
.b3 {
    width: 90%;
    background: #ef593c;
}
.b4 {
    width: 85%;
}
.b5 {
    width: 35%;
}
.b6 {
    width: 75%;
    background: #ef593c;
}
.label-skill {
    font-size: 24px;
}
/* Medias Range */

@media screen and (max-width: 1400px) {
    .grille-skill{
        grid-template: repeat(3,80px) / repeat(2,450px);
    }
    .barre-grises {
        width: 450px;
    }
}

@media screen and (max-width: 1300px) {

    .section-range {
        padding-left: 0;
    }
    .titre-exp {
        padding-left: 0;
    }
    .grille-skill {
        grid-template: repeat(6,80px) / 600px;
        padding-left: 0;
    }
    .barre-grises {
        width: 600px;
    }

}

@media screen and (max-width: 700px) {

    .grille-skill {
        grid-template: repeat(6,80px) / 400px;
    }
    .barre-grises {
        width: 400px
    }

}
@media screen and (max-width: 450px) {

    .section-range{
        padding-bottom: 100px;
    }
    .titre-exp {
        font-size: 30px;
        margin: 50px 0 60px 0;
    }
    .label-skill {
        font-size: 20px;
    }
    .grille-skill{
        grid-template: repeat(6,80px) / 300px;
        grid-gap: 40px;
        margin-left: 15px;
    }
    .barre-grises {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {

    .section-range{
        padding-bottom: 100px;
    }
    .titre-exp {
        font-size: 30px;
        margin: 50px 0 60px 0px;
    }
    .label-skill {
        font-size: 20px;
    }
    .grille-skill{
        grid-template: repeat(6,80px) / 300px;
        grid-gap: 40px;
        margin-left: 15px;
    }
    .barre-grises {
        width: 300px;
    }
}

/*------------ Section experience travail --------- */

.travail-exp {
    width: calc(100% - 300px);
    height: auto;
    margin-left: auto;
    padding-bottom: 100px;
    position: relative;
    
}

.titre-travail-exp {
    text-align: center;
    letter-spacing: .2rem;
    margin: 70px 0;
    color: #545152;
}
.cont-exp-travail {
    position: relative;
    display: flex;
    justify-content: center;
}
.barre-verticale {
    height: 990px;
    width: 1px;
    background: #545152;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -30px;
    z-index: -1;
}
.boule-ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #545152;
    background: #f6F4F0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boule-ico img {
    width: 25px;
}

.flex-cont-bloc-exp {
    width: 800px;
    line-height: 1.5em;
    flex-shrink: 1;
    height: 1080px;
    position: relative;
}
.bloc {
    width: 100%;
    height: 150px;
    margin-bottom: 37.5px;
    cursor: pointer;
    border: 1px solid #545152;
    position: relative;
}
.contenu-bloc {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid #545152;
    background: #F6F4F0;
    transition: transform 0.25s ease-in-out;
    position: relative;
    transform: translate(10px, -10px);
}
.contenu-bloc:hover {
    transform: translate(0,0);
}
.bloc1 {
    background: #dfcfbf;
}
.bloc2 {
    background: #dfcfbf;
}
.bloc3 {
    background: #dfcfbf;
}
.bloc4 {
    background: #dfcfbf;
}
.bloc5 {
    background: #dfcfbf;
}


.bloc6 {
    background: #dfcfbf;
}

.titre-section-bloc {
    font-family: 'Trocchi', serif;
    font-size: 20px;
    padding-bottom: 10px;
}

/* Media section travail exp */
@media screen and (max-width: 1300px) {
    .travail-exp {
        width: 100%;
    }
}
@media screen and (max-width: 950px) {

    .barre-verticale {
        height: 1345px;
    }
    .bloc {
        height: 220px;
        margin-bottom: 37.5px;
    }
    .barre-verticale{
        margin-left: 60px;
        margin-bottom: 120px;
    }
    .flex-cont-bloc-exp {
        margin-right: 30px;
    }
    .titre-section-bloc {
        font-size: 20px;
    }

}

@media screen and (max-width: 520px) {

    .txt-section  {
        font-size: 14px;
    }
    .bloc {
        height: 200px;
    }
    .barre-verticale {
        height: 1240px;
        margin-bottom: 180px;
    }
    .travail-exp {
        height: auto;
        margin-left: auto;
        padding-bottom: 100px;
        position: relative;
    }
    .titre-travail-exp {
        font-size: 30px;
    }
    .titre-section-bloc {
        font-size: 16px;
    }


}

@media screen and (max-width: 414px) {

    .txt-section  {
        font-size: 14px;
    }
    .bloc {
        height: 250px;
    }
    .barre-verticale {
        height: 1490px;
        margin-bottom: 200px;
    }
    .travail-exp {
        height: auto;
        margin-left: auto;
        padding-bottom: 50px;
        position: relative;
    }

    .titre-travail-exp {
        font-size: 30px;
    }
    .titre-section-bloc {
        font-size: 16px;
    }


}

@media screen and (max-width: 375px) {

        .txt-section {
            font-size: 14px;
        }
        .bloc {
            height: 280px;
        }

        .barre-verticale {
            height: 1640px;
            margin-bottom: 180px;
        }

        .travail-exp {
            height: auto;
            margin-left: auto;
            padding-bottom: 100px;
            position: relative;
        }
        .titre-travail-exp {
            font-size: 30px;
        }
        .titre-section-bloc {
            font-size: 16px;
        }

}

@media screen and (max-width: 320px) {

    .txt-section {
        font-size: 14px;
    }
    .bloc {
        height: 360px;
    }

    .barre-verticale {
        height: 2050px;
        margin-bottom: 180px;
    }

    .travail-exp {
        height: auto;
        margin-left: auto;
        padding-bottom: 160px;
        position: relative;
    }

    .titre-travail-exp {
        font-size: 30px;
    }
    .titre-section-bloc {
        font-size: 16px;
    }

}

/* Section Parallax */
.section-parallax {
    width: 100%;
    height: 250px;
    background: url(ressources/accueil.jpg) no-repeat right / cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed #dfcfbf;
    border-bottom: 1px dashed #dfcfbf;
}
.txt-par {
    font-size: 30px;
    font-weight: bold;
    margin: 0 50px;
}
.txt-par:nth-child(1){
    padding-left: 300px;
}

@media screen and (max-width: 1300px) {
    .txt-par {
        font-size: 25px;
        margin: 0 30px;
    }
    .txt-par:nth-child(1) {
        padding-left: 0px;
    }
    
}
@media screen and (max-width: 700px) {

.txt-par {
    font-size: 22px;
    margin: 0 25px;
}
}
@media screen and (max-width: 550px) {

    .section-parallax {
        flex-direction: column;
    }
    .txt-par {
        font-size: 20px;
        margin: 20px 0px;
    }

}

/* Section Contact */

.section-contact {
    width: 100%; 
    height: auto;
    position: relative;
 
}
.section-contact h2 {
    text-align: center;
    color: #545152;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 70px 0 0 300px;
}
.section-contact h2 strong {
    font-weight: 900;
}

/*.container-form {
    margin: 0 auto;
    width: 70%;
    padding-left: 300px;
}
.form-groupe {
    position: relative;
    display: flex;
    margin-bottom: 45px;
}
.form-groupe label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 20px;
    transition: 0.4s ease-out;
}
.form-groupe input {
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #aaa;
    color: #666;
    font-size: 20px;
    transition: 0.4s ease-out;
}
textarea {
    width: 100%;
    height: 200px;
    border: none;
    border: 3px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    resize: none;
    outline: none;
    font-size: 20px;
    transition: 0.4s all ease-out;
    background: #f1f1f1;
}
textarea::placeholder {
    font-size: 20px;
    opacity: 0.5;
}
textarea:focus {
    border-color: #ef593c;
}

.form-groupe:nth-child(4) {
    margin-bottom: 25px;
    justify-content: flex-start;
}

.form-groupe .button-sub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid rgb(144,144,144);
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, #545152 50%, #586871);
    background-size: 200%;
    color: #333;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.form-groupe .button-sub:hover {
    color: #fff;
    background-position: 100%;
    border: 3px solid #fff;
}*/
@media screen and (max-width: 1300px) {
    .section-contact h2 {
        padding: 70px 0 0 0;
    }
    .container-form{
        padding-left: 0;
    }
    .form-groupe:nth-child(4){
        justify-content: center;
    }
}

/* Animation Contact */

/*.form-groupe:focus-within label,
.form-groupe.animation label {
    top: 0px;
    transform: translateY(-100%);
    color: #ef593c;
}

/* Footer */

footer {
    color: #545152;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 300px;
}

@media screen and (max-width: 1300px) {
    footer {
        padding-left: 0px;
        padding-bottom: 30px;
        margin: 0px;
    }
}

.titre-contact {
    font-size: 40px;
    letter-spacing: .2rem;
}

/* Footer-article */

.article-footer {
    color: #545152;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    
    

}
@media screen and (max-width: 1300px) {
    footer {
        padding-left: 0px;
        padding-bottom: 30px;
        margin: 0px;
    }
}


/*-------------- Article --------------*/
.container-article{
    padding-left: 0px;
    margin: 0px 200px 0px 200px;
    padding-top: 100px;
    padding-left: 300px;
}

@media screen and (max-width: 1300px) {

.container-article{
    padding-left: 0px;
    margin: 0px 100px 0px 100px;
    }

}

@media screen and (max-width: 1100px) {

.container-article {
    flex-direction: column;
    margin: 0px 20px 0px 20px;
}

}



@media screen and (max-width: 700px) {

.container-article {
    margin-top: 10px;
    
}

}

@media screen and (max-width: 320px) {

    .container-article {
        margin-top: 10px;
        margin-left: 15px;
        
    }
    
    }
/*-------------- Jumbotron --------------*/

.jumbotron {
    background-color: #eee6d7;
    text-align:center;
    padding-bottom: 20px;
    margin-left: 300px;
    
  }


    @media screen and (max-width: 1300px) {

        .jumbotron {
            padding-left: 0px;
            margin: 0px;
        }
    }

    @media screen and (max-width: 1100px) {

        .jumbotron {
            flex-direction: column;
            margin: 0px;
         }
    }
    
    
    
    @media screen and (max-width: 700px) {
    
        .jumbotron {
            margin-bottom: 5px;
            height: 400px;
        } 
    }

/*-------------- Image article --------------*/



.img-fluid {
    max-width: 100%; 
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
   
}

@media screen and (max-width: 1300px) {

    .img-fluid {
        padding-left: 0px;
        margin: 0px;
    }
}

@media screen and (max-width: 1100px) {

    .img-fluid {
        margin: 0px;
     }
}

@media screen and (max-width: 700px) {

    .img-fluid {
        margin: 0px;
        width: 700px;
    } 
}

@media screen and (max-width: 320px) {

    .img-fluid {
        margin: 0px;
        width: 100%;
    } 
}


 